body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    touch-action: manipulation;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./city.png.jpg");
}
